<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ShoppingCart.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B49B45DC273C0F8700C79134</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B49B45F7273C0F8900C79134</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B49B4601273C0F8900C79134</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
